body{
  margin-left: 5%;
  margin-right: 5%;
  background-color: #e6e6e6;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.Menu {
  width: 100%;
  font-size: 24px;
  background-color:
}

.Menu a {
  padding-left: 50px;
  padding-right: 50px;
  vertical-align: middle;
}

.Menu a:link {
  color: #cc9900;
  text-decoration: none;
}

.Menu a:visited {
  color: #cc9900;
}

.Co-Inscription {
  margin-right: 2%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.Co-Inscription a:link {
  color: inherit;
  text-decoration: none;
}

.Co-Inscription a:visited {
  color: inherit;
}

.explication {
  font-style: italic;
  font-size: 12px;
  color: gray;
}

label{
  display: inline-block;
  width : 200px;

}

input{

  width : 200px;

}

.offre{
  display: flex;
  flex-direction: row;
}

article{
  border: solid 1px black;
  margin-left: 10px;
  margin-right: 10px;
}

.form_proposition{
  display: flex;
  flex-direction: column;
  margin-left: 40%;

}

.combo_label_input{
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
}

.prop_butt{
  display: inline-block;
  width: 200px;
  margin-left: 7%;
}

/*
Connexion
*/
