body{
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.Co-Inscription {
  margin-right: 2%;
}

.explication {
  font-style: italic;
  font-size: 12px;
  color: gray;
}
