<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style_general.css">
    <title>MagicShop - Échange et vente de cartes Magic</title>
  </head>
  <body>

    <header>
      <img src="Images/Logo.png" alt="Logo MagicShop">
      <nav>
        <ul>
          <a href="Page_Acceuil.html"> Acceuil </a>
          <a href="Page_Exploration.html"> Explorer les offres </a>
          <a href="Page_Recherche"> Rechercher une offre </a>
          
        </ul>
      </nav>
    </header>

    <h1>MagicShop - Échange et vente entre particuliers de cartes Magic</h1>

    <p class="explication">Ce site a été crée dans le cadre du projet proposé dans le module "Programmation côté serveur" de l'IUT 2 de l'Université Grenoble-Alpes</p>

    <p>Bienvenue sur le site, si tu souhaites nous rejoindre crées-toi un compte. <br>
    Si tu possède déjà un compte, tu n'as qu'à te connecter.</p>

  </body>
</html>
